* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(240, 240, 240);
}
img {
  max-width: 100%;
  display: block;
}

#title {
  color: white;
  background-color: black;
  padding: 15px;
}

.container {
  padding: 15px;
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search > #searchBox {
  flex: 1;
  border: 1px solid black;
  background-color: transparent;
  font-size: 16px;
}

#searchBox::placeholder {
  color: black;
}

.search > * {
  padding: 8px;
}

.btn {
  padding: 8px 24px;
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
}

.buttons {
  margin-block: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}
th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

.profile {
  display: flex;
  align-items: center;
  gap: 5px;
}

.profile > img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid black;
}

#mainTable > div + div {
  margin-top: 16px;
}
#mainTable h3 {
  margin: 10px 0;
}
